<mat-toolbar class="header-container" color="primary">
  <p class="title">E-commerce Platform</p>
  <span class="spacer"></span>
  <div class="nav-link">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/products">Products</button>
  </div>
  <button
    mat-icon-button
    [matMenuTriggerFor]="userMenu"
    aria-label="profile-icon"
  >
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item routerLink="/login">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item routerLink="/register">
      <mat-icon>app_registration</mat-icon>
      <span>Register</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

  <button mat-icon-button routerLink="/cart" aria-label="cart-icon">
    <mat-icon matBadge="{{ cartItemCount }}" matBadgeColor="warn"
      >shopping_cart</mat-icon
    >
  </button>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="menu"
    aria-label="menu-icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button class="menu-item" mat-menu-item>
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button class="menu-item" mat-menu-item>
      <mat-icon>shop</mat-icon>
      <span>Products</span>
    </button>
  </mat-menu>
</mat-toolbar>
